.hero {
  width: 100%;
  height: 480px;
  overflow: hidden;
  .bg {   
    img {
      width: 100%;
      min-height: 480px;
      object-fit: cover;
      object-position: top;
    }
  }
  .hero-content-wrapper {
    position: absolute;
    width: 100%;
    height: 480px;
    top: 0px;
    background-color: rgba(74,74,74,0.3);
    .hero-content {
      width: 100%;
      margin-top: 252px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      span {
        text-align: center;
        color: #FFF;
      }
      .title {
        display: block;
        font-size: 20px;
      }
      .ghost {
        background-color: rgba(55,55,55,0.4);
        border: 1px solid #BBB;
        color: #FFF;
        font-size: 16px;
        letter-spacing: 4px;
        text-decoration: none;
      }
    }
  }
}

.holder {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
  h2 {
    text-align: center;
  }
  .holder-explian {
    margin-top: 18px;
    color: #4A4A4A;
  }
  li {
    color: #4A4A4A;
  }
}

.themas-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  .thema-sec {
    position: relative;
    display: block;
    width: 47%;
    margin-top: 14px;
    h3 {
      text-align: center;
    }
    a {
      display: block;
      cursor: pointer;
      .thema-img {
        position: relative;
        height: 180px;
        overflow: hidden;
        img {
          width: 100%;
          object-fit: cover;
          object-position: top;
        }
        .img-text {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          color: #FFF;
          background-color: rgba(55,55,55,0.4);
          .text-name {
            display: block;
            margin-top: 60px;
            text-align: center;
            font-size: 16px;
          }
          .text-title {
            display: block;
            text-align: center;
            font-size: 12px;
          }
        }
      }
    }
    .thema-button-wrapper {
     a {
        display: inline-block;
        text-align: center;
        border: 1px solid #4A4A4A;
        font-size: 14px;
        text-decoration: none;
        color: #4A4A4A;
      }
    }
  }
}

.crossmentorship-holder {
  .crossmentorship-img {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .crossmentorship-link {
    a {
      display: inline-block;
      text-align: center;
      color: #4A4A4A;
    }
  }
}

.managements-holder {
  .managements-lists {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    .list{
      position: relative;
      display: block;
      width: 47%;
      margin-top: 14px;
      img {
        width: 100%;
      }
      .name {
        text-align: center;
        display: inherit;
      }
    }
  }
}
